<%= stylesheet_link_tag "css/todo", :media => "all" %>
<h1 class="Center">New Task</h1>
<%= form_for(@task) do |f| %>
    <div class="Main"><%= f.label :title %></div>
    <div class="Main"><%= f.text_field :title %></div>
    <div class="Main"><% f.submit %></div>
 <% end%>
 <div class="Main">
 <%= link_to 'Back', tasks_path %>
 </div>
